<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <title>Baja de cuartel: </title>
</head>
<body>
    <h1>
        Seleccione el cuartel a dar de baja:
    </h1>
    <form method="post" action="bajaCuartel">
        <select name="cuartelBaja" size="1" >
            <th:block th:each="cuartel : ${cuarteles}">
                <option th:value="${cuartel.codigo}" th:text="'Codigo: ' + ${cuartel.codigo} + '  Nombre: ' + ${cuartel.nombre}"></option>
            </th:block>    
        </select>
        <br>
        <br>
        <input type="submit" style="width:60px; height:40px" value ="Enviar">
    </form>
</body>
</html>